/* Background settings */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg'); /* Ganti dengan path gambar background Anda */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

/* Container for the dashboard */
.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header style */
.header {
    margin-bottom: 20px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}

.header h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
}

/* Card style */
.card {
    width: 90%;
    max-width: 200px;
    padding: 15px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.card p {
    font-size: 1.5rem;
    margin: 10px 0 0;
    font-weight: 400;
}

/* Relay status in the top-right corner */
.relay-status {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 600;
    color: #333;
}

/* Footer style */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5); /* Transparan */
    color: #333;
    backdrop-filter: blur(5px); /* Blur efek transparan */
}
